<mat-accordion *ngIf="mockservers.length !== 0">
  <mat-expansion-panel *ngFor="let server of mockservers">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{server.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{server.port}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!--<button mat-icon-button color="accent" (click)="update(server.port, server)">
      <mat-icon>save</mat-icon>
    </button>-->
    <button mat-icon-button color="warn" (click)="delete(server.port)">
      <mat-icon>delete</mat-icon>
    </button>
    <div readOnly="true" ace-editor style="height: 400px;" [(text)]="server.pact"></div>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="mockservers.length === 0">
  Keine Server gestartet!
</div>
