<mat-toolbar color="primary">
  <span>Pact Mock Server</span>
  <a mat-raised-button color="accent" [routerLink]="'/pacts'">Alle Server</a>
  <a mat-raised-button color="accent" [routerLink]="'/add'">Server starten</a>
</mat-toolbar>
<router-outlet></router-outlet>
